.App {
    text-align: center;
}

.App-logo {
    height: 150px;
    pointer-events: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: thick #a1cafc solid;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    background: aliceblue;
    margin-bottom: 50px;
}

.my-header {
    pointer-events: none;
    text-align: center;
    font-weight: bold;
    background: aliceblue;
    padding: 20px;
}

.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #a1cafc;
}

.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: aliceblue;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.log-button {
    background: rgba(161, 202, 252, 0.62) !important;
    color: black !important;
    font-weight: bold !important;
    border-color: steelblue !important;
}
.log-button:hover {
    background: #a1cafc !important;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.input {
    float: left;
    margin: 30px;
}

input, label {
    display: block;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: white;
}

.light-button {
    width: 10% !important;
    background-color: aliceblue !important;
    border-color: cornflowerblue !important;
    border-radius: 8px !important;
    padding: 5px !important;
    color: black !important;
}

.light-button:hover {
    background-color: #d4e6fc !important;
}

.save-button {
    min-width: 120px;
    float: right;
    margin-top: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}

.return-button {
    min-width: 120px;
    margin-top: 5px !important;
    margin-left: 5px !important;
    margin-bottom: 5px !important;
}

.background-color {
    background: #a1cafc;
}

.tasks {
    padding: 10px !important;
    margin: 2px !important;
    background-color: aliceblue;
}

ul {
    list-style-type: none;
    margin-left: 10px;
}

.input-button {
    display: inline-flex !important;
    min-width: calc(100% - 40px);
}

.checkbox {
    margin-right: 10px;
    margin-top: 10px;
}

.p-button .p-button-icon-left {
    margin-right: 0.1rem;
    margin-left: 0.5rem;
}

.show-edit-button {
    margin: 3px !important;
    background-color: aliceblue !important;
    border-color: cornflowerblue !important;
    border-radius: 8px !important;
    padding: 5px !important;
    color: black !important;
}

.show-edit-button:hover {
    background-color: #d4e6fc !important;
}

.trash-button {
    margin: 3px !important;
    background-color: aliceblue !important;
    border-radius: 8px !important;
    padding: 5px !important;
    color: red !important;
}

.trash-button:hover {
    background-color: #d4e6fc !important;
}

.create-list-button {
    min-width: 200px !important;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
}